.introButton {
  background-color: lightsalmon !important;
}
.introButtonRight {
  text-align: right;
}
.btn-primary {
  --bs-btn-border-color: lightsalmon !important;
  --bs-btn-hover-border-color: lightsalmon !important;
  --bs-btn-active-border-color: lightsalmon !important;
}
.rightStart {
  margin-left: auto;
}
