.introButton {
  background-color: lightsalmon !important;
  width: 20vh;
  height: 8vh;
  font-size: 1.5rem !important;
  font-family: "Jua", sans-serif !important;
}
.introButtonRight {
  text-align: right;
}
.btn-primary {
  --bs-btn-border-color: lightsalmon !important;
  --bs-btn-hover-border-color: lightsalmon !important;
  --bs-btn-active-border-color: lightsalmon !important;
}
.rightStart {
  margin-left: auto;
}
.introContainer {
  margin-top: 5%;
}

#introImg {
  position: absolute;
  padding: 0;
  top: 0%;
  z-index: -100;
  width: 100%;
  height: 100%;
}
